.filter {
  padding: 20px 16px;
  &__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  &__section {
    flex-basis: 50%;
    position: relative;
    padding: 10px 20px;
    margin: auto 4px;
    border-radius: 10px;
    border: 1px solid var(--border-color);
  }
  &__btn {
    margin: auto 4px;
  }
}
