.sidebar {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  max-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
  border-right: 1px solid var(--border-color);
  transition: all 0.5s ease;
  z-index: 10;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid var(--border-color);
  }
  &__text {
    font-weight: 500;
    font-size: 18px;
  }
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  &__search {
    flex-basis: 100%;
    margin-right: 10px;
  }
  &__filter {
    display: none;
  }
  &__list {
    height: 85vh;
    overflow-y: scroll;
    padding-bottom: 20px;
  }
  &__task {
    &:hover {
      background-color: var(--accent-color);
      border-radius: 3px;
    }
    padding: 10px 20px;
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      width: 20px;
      height: 20px;
    }
  }
  &__error {
    margin: 20px auto;
    text-align: center;
    color: rgb(192, 192, 192);
  }
}

.sidebar--open {
  opacity: 1;
  visibility: visible;
}

.sidebar__filter--open {
  display: block;
}
