.btn {
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--border-color);
}

.btn--close,
.btn--sidebarSearch,
.btn--filter,
.btn--openSelect,
.btn--closeOptionSearch {
  border: none;
}

.btn--sidebarSearch,
.btn--closeOptionSearch {
  position: absolute;
  right: 10px;
  &:hover {
    color: var(--button-hover-color);
  }
}
.btn--close,
.btn--filter {
  &:hover {
    color: var(--button-background-hover-color);
  }
}

.btn--openSidebar,
.btn--run,
.btn--clearFilter {
  padding: 5px 10px;
  &:hover {
    box-shadow: 2px 2px 3px rgb(63, 63, 63);
    background-color: var(--button-background-hover-color);
    color: var(--button-hover-color);
    border: none;
  }
}

.btn--clearFilter {
  width: 100%;
}

.btn--switchTheme {
  padding: 5px;
  &:hover {
    background-color: var(--button-background-hover-color);
    color: var(--button-hover-color);
  }
}
