.multiselect {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
  }
  &__control {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__tags-number {
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    margin-left: 5px;
  }
  &__tags-number-remove {
    margin-left: 3px;
  }
  &__selected-options {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__options {
    display: none;
    position: absolute;
    width: 100%;
    top: 44px;
    left: 0;
    border: 1px solid var(--border-color);
    border-top: none;
    max-height: 150px;
    overflow-y: auto;
    z-index: 11;
    box-shadow: 0px 4px 8px var(--border-color);
    font-size: 16px;
    background-color: var(--background-color);
  }
  &__options-search {
    margin: 5px;
  }
  &__option {
    padding: 5px 12px;
    cursor: pointer;
  }
  &__tag-remove {
    margin: auto 8px;
    cursor: pointer;
  }
  &__error {
    text-align: center;
    color: rgb(192, 192, 192);
    margin: 5px;
  }
}

.multiselect__options--active {
  display: block;
}

.multiselect__option--selected {
  background-color: var(--accent-color);
}

.multiselect__option:hover {
  background-color: var(--accent-color);
}

.multiselect__tags-number--active {
  display: flex;
  height: 20px;
  width: 40px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  text-align: center;
  font-size: 14px;
}
