.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__title {
    margin-right: 5px;
  }
  &__list {
    display: none;
    position: absolute;
    max-height: 100px;
    top: 44px;
    left: 0;
    border: 1px solid var(--border-color);
    z-index: 11;
    width: 100%;
    border-top: none;
    overflow-y: auto;
    box-shadow: 0px 4px 8px var(--border-color);
    font-size: 16px;
    background-color: var(--background-color);
  }
  &__option {
    cursor: pointer;
    padding: 5px;
    &:hover {
      background-color: var(--background-color);
    }
  }
}

.selector__list--open {
  display: block;
}

.selector__option:hover {
  background-color: var(--accent-color);
}

.selector__option--selected {
  background-color: var(--accent-color);
}
