.task-description {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  &__top {
    display: flex;
    align-items: center;
    padding: 20px;
    span {
      margin-left: 10px;
    }
  }
  &__content {
    border-top: 1px solid var(--border-color);
  }
  &__title {
    margin: 20px;
    font-size: 22px;
    font-weight: 600;
  }
  &__details {
    display: flex;
    align-items: center;
    margin: 20px;
  }
  &__level {
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    margin-right: 20px;
  }
  &__tags {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__task-text {
    margin: 20px;
  }
}

.task-description__level--easy {
  color: var(--accent-green-color);
}
.task-description__level--medium {
  color: var(--accent-yellow-color);
}
.task-description__level--hard {
  color: var(--accent-red-color);
}

@media (max-width: 500px) {
  .task-description {
    &__level {
      margin-right: 5px;
    }
  }
}
