@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mooli&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:wght@400..700&display=swap");

body {
  margin: 0;
  font-family: "Source Sans 3", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

/* dark theme */
html[data-theme="dark"] {
  --button-background-hover-color: #9d34da;
  --button-hover-color: #f0e1f9;
  --border-color: #585858;
  --background-color: #202020;
  --text-color: #fff;
  --accent-color: #9d34da;
  --accent-green-color: #52c41a;
  --accent-yellow-color: #ebcc1e;
  --accent-red-color: #d60040;
}

/* light theme */
html[data-theme="light"] {
  --button-background-hover-color: #9d34da;
  --button-hover-color: #f0e1f9;
  --border-color: #d5d8dd;
  --background-color: #fff;
  --text-color: #000;
  --accent-color: #f0e1f9;
  --accent-green-color: #1e8142;
  --accent-yellow-color: #f5ab23;
  --accent-red-color: #f3044cfd;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--background-color);
}

::-webkit-scrollbar-thumb {
  background: var(--border-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--button-background-hover-color);
}

#root {
  max-width: 1920px;
  min-height: 100%;
  margin: 0 auto;
  overflow: auto;

  transition: background-color 0.5s ease;
}

.app {
  max-width: 1890px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (max-width: 1000px) {
  body {
    font-size: 14px;
  }
}
